html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

/* Snowflakes */
.snowflake {
    color: #fff;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

/* Multi used tags*/
.textTag {
    background-color: #8695b0;
    color: #fff;
    border-radius: 5px;
    font-size: 18px!important;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}
hr {
    border: 0;
    border-top: 1px solid #8695b0;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.specialHr {
    border-top: 8px solid #8695b0;
    border-radius: 5px;
}
.advert {
    position: relative;
    color: #fff;
    background-color: #0000;
}
.advert img {
    border-radius: 24px;
    vertical-align: middle;
    border-style: none;
    color: #fff;
}
.advert span {
    position: absolute;
    bottom: -60px;
    left: 0px;
    color: #000;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
}
a {
    color: #8695b0;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Scrool Bar */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0.4rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
}

/* Top Bar */
.topBar {
    top: 0;
    left: 0;
    position: fixed;
    width: calc(100% - 2rem - 13px);
    z-index: 1;
    color: #fff;
    background-color: #8695b0;
    padding: 8px 16px!important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 0.5rem;
    border-radius: 24px;
}
.topBar .topBarTitle {
    padding: 8px 16px;
    width: auto;
    float: left;
    border: none;
    display: block;
    outline: 0;
    border-radius: 24px;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.topBar .topBarTitle:hover {
    transition: 0.5s;
    color: #ffead8;
}
.topBar .topBarButonHolder {
    float: right;
    margin-right: 25px;
}
.topBar .topBarButonHolder a {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.5s;
}
.topBar .topBarButonHolder a:hover {
    transition: 0.5s;
    color: #ffead8;
}

/* Content */
.content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px!important;
}

/* On page content */
.infoCard {
    display: flex;
    padding-top: 60px;
}

.infoCard .imageHolder {
    padding: 12px 24px!important;
    float: left;
}
.infoCard .imageHolder img {
    opacity: 0.75;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.infoCard .imageHolder .except {
    opacity: 1;
    height: fit-content;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 1rem;
}
@media (min-width: 601px) {
    .infoCard .imageHolder {
        width: 49.99999%;
    }
}

/* Info Cards*/
.infoCard .textHolder {
    padding: 12px 24px!important;
    float: left;
    max-width: 50%;
}
.infoCard .textHolder h1 {
    letter-spacing: 1px;
    font-weight: 400;
    margin: 10px 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 36px;
}
.infoCard .textHolder h5 {
    text-align: center!important;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 18px;
}
.infoCard .textHolder p {
    font-size: 18px!important;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/* Footer */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.footer p {
    text-align: center!important;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 18px;
    margin-top: 0;
}

.socialMediaLinks {
    display: flex;
    justify-content: center;
}
.socialMediaLinks a svg {
    height: 3rem;
    margin: 0rem 0.5rem;
    transition: transform 1s ease-in-out;
}
.socialMediaLinks a svg:hover {
    filter: drop-shadow(0px 2px 4px rgb(0 0 0 / 30%));
    transform: rotate(360deg);
}


/* Contact form */
textarea {
    width: calc(100% - 1rem);
    border-radius: 24px;
    padding: 1rem;
}

#emailBox {
    resize: none;
    height: 1rem;
}
#messageBox {
    resize: vertical;
}

#contactText {
    color: black;
}

#submitButt {
    border-radius: 24px;
    padding: 0.5rem;
    border: 0;
    background-color: #fff;
    transition: 0.5s;
}
#submitButt:hover {
    transition: 0.5s;
    background-color: #cccccc;
    cursor: pointer;
}

/* Phone setup */
@media screen and (max-device-width: 480px)  {
    .content {
        padding-top: 64px!important;
    }
    .advert {
        display: none;
    }
    .topBar .topBarButonHolder {
        display: none;
    }
    .infoCard {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .infoCard .textHolder {
        float: none;
    }
    .infoCard .textHolder {
        max-width: none;
    }
}